name: build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "25.1.0"

      - name: Setup kiota
        uses: microsoft/setup-kiota@v0.5.0
        with:
          version: v1.29.0

      - name: npm ci
        run: npm ci
        working-directory: fe/

      - name: Swagger
        run: go tool lefthook run swagger

      - name: Build
        run: go tool lefthook run build

      - name: Test
        run: go tool lefthook run test

      - name: Vet
        run: go tool lefthook run lint

      - name: Coverage
        run: go tool lefthook run cover

      - name: Frontend Coverage
        run: npm run coverage
        working-directory: fe/

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt,./fe/coverage/lcov.info
          fail_ci_if_error: true
          disable_search: true
