name: build

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "25.1.0"

      - name: npm ci
        run: npm ci
        working-directory: fe/

      - name: Build
        run: go tool lefthook run build

      - name: Test
        run: go tool lefthook run test

      - name: Vet
        run: go tool lefthook run lint

      - name: Coverage
        run: go tool lefthook run cover

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          fail_ci_if_error: true
